.category-btn {
    border-radius: 5px;
    font-size: 21pt;
    text-decoration: none;
}

.category-btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.media-card {
    border-radius: 5px;
    /* padding: 20px; */
    text-decoration: none;
    color: #f1eeee;
    margin: 10px;
    /* box-shadow: 4px 8px #888888; */
}

    .media-card:hover {
        text-decoration: none;
        color: #000;
    }

.media-data {
    border: 2px solid #000;
    width: 285px;
    height: 300px;
    padding: 20px 15px;
    box-shadow: 4px 8px #888888;
}

.media-content {
    border: 2px solid #000;
    background-color: #3595bb;
    color: #000000;
    font-weight: 600;
}

.media-info {
    /* border: 3px solid #000; */
    background-color: #3595bb;
    /* width: 100px; */
    /* height: 250px; */
    /* padding: 20px 15px; */
    /* box-shadow: 4px 8px #888888; */
}

#medBody {
    font-size: 13pt;
    font-weight: 600;
    margin-top: 20px;
    word-wrap: normal;
    text-align-last: left;
}

.title {
    margin-top: 25px;
}

.create-btn {
    margin-right: 755px;
}

.br-5 {
    border-radius: 5px;
}



/*STYLE OPTIONS ----------------------------------------------*/
.btn-color-1, .btn-bg-1 {
    background-color: #d33809 !important;
}
.btn-border-1 { 
    border: 3px solid #000 !important;
    color: #faebd7 !important;
}
.btn-color-2, .btn-bg-2 {
    background-color: #225560 !important;
}
.btn-border-2 {
    border: 3px solid #000 !important;
    color: #faebd7 !important;
}
.btn-color-3, .btn-bg-3 {
    background-color: #519872 !important;
}
.btn-border-3 { 
    border: 3px solid #000 !important;
    color: #faebd7 !important;
}

.btn-color-1:hover {
    background-color: #f5f5dc !important;
    border: 3px solid #d33809 !important;
    color: #000 !important;
}

.btn-color-2:hover {
    background-color: #f5f5dc !important;
    border: 3px solid #225560 !important;
    color: #000 !important;
}

.btn-color-3:hover {
    background-color: #f5f5dc !important;
    border: 3px solid #519872 !important;
    color: #000 !important;
}
