.category-btn {
    background-color: #d33809;
    padding: 5px 20px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    color: #faebd7;
    border: 3px solid #000;
    font-size: 21pt;
    text-decoration: none;
}

.category-btn:hover {
    border: 3px solid #d33809;
    background-color: #f5f5dc;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.media-card {
    border: 2px solid #000;
    border-radius: 5px;
    /* padding: 20px; */
    text-decoration: none;
    color: #000;
    margin: 8px 20px;
}

.media-card:hover {
    text-decoration: none;
    color: #000;
}

.media-data {
    width: 250px;
    padding: 20px 15px;
}

.title {
    margin-top: 25px;
}

.create-btn {
    margin-right: 755px;
}